[Unit]
Description=Audio Driver for Interactive Display
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv
ExecStart=/srv/env.sh java -cp /srv/build/libs/srv.jar com.github.zachdeibert.interactivedisplay.AudioDriver
Restart=on-failure

[Install]
WantedBy=multi-user.target
